WindowsFormsApp1/WindowsFormsApp1/Connected Services/LocalServer/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStockInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockInfo" nillable="true" type="tns:StockInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockInfo" nillable="true" type="tns:ArrayOfStockInfo" />
  <xs:complexType name="StockInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighestPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="LowestPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="OpenPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecordId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInfo" nillable="true" type="tns:StockInfo" />
</xs:schema>