WindowsFormsApp1/WindowsFormsApp1/Connected Services/LocalServer/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WebApplication1/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service1" />
  <xs:element name="SearchByStockIdJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByStockIdJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service1" minOccurs="0" name="SearchByStockIdJsonResult" nillable="true" type="q1:ArrayOfStockInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByDateJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByDateJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service1" minOccurs="0" name="SearchByDateJsonResult" nillable="true" type="q2:ArrayOfStockInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>