WindowsFormsApp1/WindowsFormsApp1/Connected Services/RemoteServer/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.99.126:8733/Design_Time_Addresses/WebApplication1/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.99.126:8733/Design_Time_Addresses/WebApplication1/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.99.126:8733/Design_Time_Addresses/WebApplication1/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SearchByStockIdJson_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByStockIdJson" />
  </wsdl:message>
  <wsdl:message name="IService_SearchByStockIdJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByStockIdJsonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SearchByDateJson_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByDateJson" />
  </wsdl:message>
  <wsdl:message name="IService_SearchByDateJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByDateJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SearchByStockIdJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchByStockIdJson" message="tns:IService_SearchByStockIdJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchByStockIdJsonResponse" message="tns:IService_SearchByStockIdJson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByDateJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SearchByDateJson" message="tns:IService_SearchByDateJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SearchByDateJsonResponse" message="tns:IService_SearchByDateJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchByStockIdJson">
      <soap:operation soapAction="http://tempuri.org/IService/SearchByStockIdJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByDateJson">
      <soap:operation soapAction="http://tempuri.org/IService/SearchByDateJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tcpEndpoint" type="tns:IService">
    <wsp:PolicyReference URI="#tcpEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SearchByStockIdJson">
      <soap12:operation soapAction="http://tempuri.org/IService/SearchByStockIdJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByDateJson">
      <soap12:operation soapAction="http://tempuri.org/IService/SearchByDateJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://192.168.99.126:8733/Design_Time_Addresses/WebApplication1/Service/soap" />
    </wsdl:port>
    <wsdl:port name="tcpEndpoint" binding="tns:tcpEndpoint">
      <soap12:address location="net.tcp://192.168.99.126:168/Test2/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.99.126:168/Test2/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>